asgiref==3.3.0
boto3==1.16.27
botocore==1.19.27
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1.3
django-appconf==1.0.4
django-bootstrap-form==3.4
django-comments-xtd==2.8.1
django-contrib-comments==1.9.2
django-crispy-forms==1.9.2
django-environ==0.4.5
django-messages==0.6.0
django-permalinks==0.1.4
django-postman==4.0
django-storages==1.10.1
django-threadedcomments==1.2
djangorestframework==3.12.2
docutils==0.16
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
Pillow==8.0.1
pinax-messages==3.0.0
pinax-templates==2.0.6
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
requests==2.25.1
s3transfer==0.3.3
six==1.15.0
sorting==1.0.3
sqlparse==0.4.1
stripe==2.55.1
urllib3==1.26.2
Werkzeug==1.0.1
whitenoise==5.2.0
